/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <https://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <https://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
/* @import url("reset.css"); */
/* @import url("pygment.css");
@import url("typogrify.css"); */
/* @import url("fonts.css"); */

:root {
    --site-max-width: 800px;
    --color-index-1: #fbf7f3;
    --color-index-2: #e5b083;
    --color-index-3: #426e5d;
    --color-index-4: #20283d;
    /* https://lospec.com/palette-list/en4 */
}

/***** Global *****/
/* Body */
body {
    /* background: var(--color-index-1); */
    color: var(--color-index-4);
    /* font-size: 87.5%; Base font size: 14px; */
    font-family: 'Share Tech Mono', 'Courier Prime', 'Courier New', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
    font-family: "Kenney Pixel", 'Share Tech Mono', 'Courier Prime', 'Courier New', sans-serif;;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	/* color: #C74350; */
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	/* background-color: #C74350; */
	/* color: #fff; */
	text-decoration: none;
	/* text-shadow: 1px 1px 1px #333; */
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside square;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

.post-info {
    float:right;
    margin:10px;
    padding:5px;
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
/* .body {clear: both; margin: 0 auto; max-width: 800px;} */
img { max-width: 100%; }
img.right, figure.right, div.figure.align-right {
    float: right;
    margin: 0 0 2em 2em;
}
img.left, figure.left, div.figure.align-left {
    float: left;
    margin: 0 2em 2em 0;
}

/* Grid System */

html {
    overflow-y: overlay;
    font-size: 16px;
}



div.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "maincontent"
}

header#banner {
    grid-area: header;
    background-color: #8ca0ff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "headercontent";
}

div#hey {
    overflow: auto;
    grid-area:maincontent;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
    "footer";
}

div#headercontent {
    grid-area: headercontent;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headerlogo";
}

section#sitelogo {
    grid-area: headerlogo;
    background-color: #115f6d;
    margin: 0 auto;
}

nav#menu {
    grid-area: headernav;
    background-color: #ffa08c;
    /* text-align: center; */
}

main#content {
    grid-area: content;
    background-color: var(--color-index-1);
    padding: 15px 5px 10px 5px;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-areas: ". maincontent .";
}

div#maincontent {
    grid-area: maincontent;
}

footer#contentinfo {
    height: 4rem;
    grid-area: footer;
    background-color: var(--color-index-2);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-areas: ". footercontent. ";

}

div#footercontent {
    grid-area: footercontent;
    margin: 0 auto;

}

div#portfoliogrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

div.portfolioentry {
    grid-column: span 2;
    background-color: #f0b923;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: var(--color-index-4);
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	color: var(--color-index-2);
	text-decoration: underline;
	/* text-shadow: 1px 1px 1px #333; */
}

/* Menu Styling */
nav#menu ul {
    display:none;
	list-style: none;
}

nav#menu ul li {
    display:none;
	list-style: none;
}

div#header-social {
    display: none;
    grid-area: headersocial;
}

div#mobile-menu {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 64px 128px 1fr 64px 192px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "."
    "mobilelogo"
    "mobilenav"
    "mobilesocial"
    ".";
    z-index: 30;
    height: 100vh;
    background: var(--color-index-1);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    font-size: 2rem;
    pointer-events: none;  
}

div#mobile-menu.mobile-menu-active {
    opacity: 1;
    pointer-events: all;
}

nav#mobile-nav {
    margin: 0 auto;
    grid-area: mobilenav;
}

div#mobile-social {
    margin: 0 auto;
    grid-area: mobilesocial;
}

div#mobile-menu ul {
	list-style: none;
    margin: 0;
}

div#mobile-menu ul li {

	list-style: none;
    background: var(--color-index-2);
    border: 2px solid var(--color-index-4);

    /* border: 2px solid var(--color-index); */
    text-align: center;
    margin: 0 0 30px 0;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    font-family: "Kenney Pixel";
    font-size: 2rem;
    text-transform: uppercase;
}

div#mobile-menu ul li:last-of-type {
    margin: 0;
}

div#mobile-menu ul li:hover {
    background: var(--color-index-3);
}

div#mobile-menu ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 10px 20px; */
}

.mobile-nav--close {
    top: 20px;
    position: fixed;
    right: 15px;
    height: 32px;
    width: 32px;
    display: block;
    background: url("../images/jps2022003_icons.png") 32px 0;
    cursor: pointer;
}

.mobile-nav--open {
    top: 20px;
    position: fixed;
    right: 15px;
    height: 32px;
    width: 32px;
    display: block;
    background: url("../images/jps2022003_icons.png") 0 0;
    /* background: var(--color-index-2); */
    /* padding: 4px; */
    cursor:pointer;
}

img#mobilemenulogo {
    grid-area: mobilelogo;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0 auto;
    /* width: 128px; */
    -moz-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    -webkit-transform: scale(4);
    transform: scale(4);
    /* padding-bottom: 20px; */
}

/* .mobile-nav--open span, 
.mobile-nav--open span:before,
.mobile-nav--open span:after {
  cursor: pointer;
  height: 5px;
  width: 32px;
  background: var(--color-index-4);
  position: absolute;
  display: block;
  content: '';
  top: 5px;
}
.mobile-nav--open span:before {
  top: 10px;
}
.mobile-nav--open span:after {
  top: 20px; 
} */


.social-icon {
    border: 2px solid #20283d;
    width: 32px;
    height: 32px;
    display: inline-block;
}

/* above 50 rem, we ditch the mobile menu  */
@media all and (min-width: 50rem) {
    /* add the columns on either side to prevent the website from stretching too wide */
    header#banner {
        grid-template-columns: 1fr;
        grid-template-areas: "headercontent";
    }

    main#content {
        grid-template-columns: 1fr var(--site-max-width) 1fr;
        grid-template-areas: ". maincontent . ";
    }

    footer#contentinfo {
        grid-template-columns: 1fr var(--site-max-width) 1fr;
        grid-template-areas: ". footercontent . ";    
    }
    
    /* hide the mobile nav, show the non-mobile nav */
    nav#menu ul {
        display: inline;
    }

    nav#menu ul li {
        display: inline;
    }

    a#open-mobile-menu {
        display: none;
    }

    div#headercontent {
        grid-template-columns: 1fr calc(var(--site-max-width)/3) calc(var(--site-max-width)/3) calc(var(--site-max-width)/3) 1fr;
        grid-template-areas: ". headerlogo headernav headersocial .";
    }

    div#header-social {
        display: inline;
        grid-area: headersocial;
    }
}

/* really big screens get more width in the nav area */
@media all and (min-width: 64rem) {
    div#headercontent {
        grid-template-columns: 1fr calc(var(--site-max-width)/2) calc(var(--site-max-width)/2) 1fr;
        grid-template-areas: "headerlogo headernav headersocial .";
    }
}
